<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="{% static 'adding_new_tenant/js/auth_reg.js' %}" defer></script>
</head>
<body>
    <header></header>
    <main>
        <div class="have_or_not_account">
            <button class="login" id="theme">Створити акаунт</button>
        </div>
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <label for="login">Логін</label>
            <input type="text" name="login" id="login">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
            <label for="email">Пошта</label>
            <input type="text" name="email" id="email">
            <input type="hidden" name='setting' value="login">
            <button class="submit" type="button">Зареєструватись</button>
        </form>
    </main>
    <footer>
        <div class="error"></div>
    </footer>
</body>
</html>