<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="{% static 'adding_new_tenant/js/auth_reg.js' %}" defer></script>
</head>
<body>
    <header></header>
    <main>
        <a href="{% url 'log' %}">Є акаунт? Ввійти</a>
        <form action="" method="POST">
            {% csrf_token %}
            <p>Логін</p>
            <input type="text" name="login">
            <p>Ім'я</p>
            <input type="text" name="first_name">
            <p>Прізвище</p>
            <input type="text" name="last_name">
            <p>Пароль</p>
            <input type="password" name="password">
            <p>Пошта</p>
            <input type="text" name="email">
            <button>Зареєструватись</button>
        </form>
    </main>
    <footer></footer>
</body>
</html>