{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing Site</title>
    <link rel="stylesheet" href="{% static 'main_page/css/base.css' %}">
    <link rel="shortcut icon" href='https://cdn-icons-png.flaticon.com/512/2150/2150264.png'>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>

    {% block link %}
        
    {% endblock link %}
        
</head>
<body>
    <header>

    </header>
    <main>
        
        {% block main %}
            
        {% endblock main %}
            
    </main>
    <footer>

    </footer>
</body>
</html>