{% extends 'main_page/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
{% endblock link %}


{% block main %}
    <!-- <form action="" method="POST">
        {% csrf_token %}
        <div id = "ilya">
            <label for="shopping_center">Торговый комплекс:</label>
            <select name="shopping_center" id="shopping_center">
                <option value="first_mall">Днепр - Зоряный</option>
                <option value="second_mall">Киев - Антоновича</option>
            </select>
            <label for="number_contract">Номер договора:</label>
            <input type="text" name="number_contract" id="number_contract"> 
        </div>
    <p id="p1">Срок действия:</p>
    <hr>
    <div id = "vanya">
        <div class = 'vanyadiv1'>
            <label for="start_contract">Начало договора:</label>
            <input type="date" name="start_contract" id="start_contract" value="2024-02-10" min="2024-02-10" max="2100-01-01">
            <label for="data_to">Дата По:</label>
            <input type="date" name="data_to" id="data_to" value="2024-02-10" min="2024-02-10" max="2100-01-01">
        </div>
        <div class = 'vanyadiv2'> 
            <label for="data_contract">Дата договора:</label>
            <input type="date" name="data_contract" id="data_contract" value="2024-02-10" min="2024-02-10" max="2100-01-01">
        </div>
        <hr>
    </div>
    <div class="second_div" id = "diana1">
        <span class="second">
            <label for="landlord_input">Арендодатель:</label>
            <input type="text" name="landlord" id="landlord_input">

            <label for="tenant_input">Арендатор:</label>
            <input type="text" name="tenant" id="tenant_input">
        </span>
    </div>
    <hr>
    <div class="third_div" id = "diana2">
        <span class="third">
            <label class="third_object" for="type_contract">Тип договора:</label>
            <select class="third_object" name="type_contract" id="type_contract">
                <option class="third_object" value="first_type">Договора Энергетика</option>
                <option class="third_object" value="second_type">Договора Сантехника</option>
            </select>
        </span>
        <div class="third">
            <div>
                <input class="third_object" type="checkbox" id="working" name="working" value="working">
                <label class="third_object" for="working">В работе</label>
            </div>
            
            <div>
                <input class="third_object" type="checkbox" id="closed" name="closed" value="closed">
                <label class="third_object" for="closed">Закрыт(Архив)</label>
            </div>
            
        </div>
        <span>
            <label class="third_object" for="number_contract_count">Номер договора в счете:</label>
            <input class="third_object" type="text" class="third_input" name="number_contract_count" id="number_contract_count">
        </span>
        <span>
            <label class="third_object" for="main_lot">Основной лот:</label>
            <input class="third_object" type="text" name="main_lot" id="main_lot">
        </span>
    </div>
    <button class="third_object">Сохранить</button>
    <button class="third_object">Отменить</button> -->


    <div class="main_div">
        <span class="div_name">
            Договора Енергетика
        </span>


        <div class="place">
            <label for="building">Торговий комплекс:</label>
            <select id="">
                <option>Дніпро - Зоряний</option>
            </select>

            <p>Номер договора:</p>
            <p id="number_of_agreement">E - DN1F_415</p>

        </div>

        <div class="date">
            <label for="date_beginning">Початок договору:</label>
            <input type="date" id="date_beginning">

            <label for="date_end">Дата по:</label>
            <input type="date" id="date_end">

            <label for="date_of_agreement">Дата угоди:</label>
            <input type="date" id="date_of_agreement">

            <p class="white_input">Помилок не знайдено</p>
        </div>

        <div class="sides">
            <label for="landlord">Орендодавець:</label>
            <select id="landlord">
                <option>КЕЙС ЛТД</option>
            </select>

            <label for="tenant">Орендар:</label>
            <select id="tenant">
                <option>COFFEE BOX - Косенко А. І.</option>
            </select>

            <label for="landlord_ps">Орендар Р/С:</label>
            <select id="landlord_ps">
                <option></option>
            </select>

        </div>

        <div class="info">
            <div class="div_type">
                <label for="type">Тип договора:</label>
                <select id="type">
                    <option>Договора Енергетика</option>
                </select>
            </div>

            <div class="checkboxes">
                <label for="tax_for_ad">Налог на рекламу</label>
                <input type="checkbox" id="tax_for_ad">
                
                <label for="in_work">В работі</label>
                <input type="checkbox">

                <label for="closed">Закритий(У архіві)</label>
                <input type="checkbox" id="closed">
            </div>
            
            <div class="additional_info">
                <p>Коментар:</p>
                <p class="white_input"></p>

                <p>Номер договора в рахунку:</p>
                <p class="white_input">АД-23/07/2021-415</p>

                <label for="main_agreement">Основний договір:</label>
                <select id="main_agreement">
                    <option></option>
                </select>
                
                <p>Основний лот:</p>
                <p class="white_input">415</p>
            </div>
            
        </div>

    </div>
{% endblock main %}
    